*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: Helvetica;
}


.outer-box{
  display: flex;
  width: 66vw;
  margin: auto;
  justify-content: space-around;
}

.inner-box{
  border-radius: 5px;
  background-color: #03866D;
  width: 50px;
  height: 100px;

}


footer{
  background-color: #03866D;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.nav-element{
  width: 25vw;
  padding: 5vw;
}
