*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: Helvetica;
}

.button-container{
  position: absolute;
  right: 15vw;
  top: vh;
  /* align-items: end; */
  /* margin-left: 45vw; */
}

header {width: 100%;height: 25vh;display: flex;background-color: #333333;color: white;}

.first-class{align-items: center;justify-content: center;margin: 0 auto;padding-top: 50px;text-align: center;}

form h5 {

    font-size: 1rem;
    margin-left: 85px;
    margin-bottom: 30px
}

form {

    width: 100%;


}

.filterBtn{
  padding: 1vh;
  margin-bottom: 1vh;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  /* position: absolute; */
  /* right: 15vw; */
}

.content {
    margin-top: 20px;
    margin-left: 65px;
    width: 70%;
}

.content h2 {
    color: #03866D;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.mp-info {
    position: relative;
    overflow: hidden;  
    padding-bottom: 10px;  
}

.mp-info h2 {
    padding: 10px;
    font-size: 19px;
    z-index: 2;
    position: relative;
    color: #ffffff;
}

.mp-info h6 {
    width: 70%;
    left: 45px;
    text-align: left;
    font-size: 9px;
    padding: 10px;
    font-weight: 200;
    z-index: 3;
    position: relative;
    color: #ffffff;
}

.mp-info button {
    z-index: 3;
    position: relative;
}

.mp-info img {
    border-radius: 20px;
    height: 140px; 
    width: 290px; 
    filter: brightness(20%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.donate {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: #03866D;
    color: white;
    width: 100px;
  }


.outer-box{
  display: flex;
  width: 66vw;
  margin: auto;
  justify-content: space-around;
  padding-bottom: 10px;
}

.inner-box{
  border-radius: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: #03866D;
  width: 160px;
  height: 100px;;
}

.image-format{
    width: 160px;
    height: 100px;
    border-radius: 5px;
}

.option-container{
  position: absolute;
  /* display: flex; */
  display: none;
  flex-direction: column;
  height: 20vh;
  width: 100vw;
}

.option-row{
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.option{
  height: 7vh;
  width: 15vw;
  background-color : #03866D;
}

input{
  width: 66vw;
  border: none;
  border-radius: 7px;
  padding: 1vh;
  margin: 1.5vh 0 0 0;
  text-align: center;
}



footer{
  background-color: #03866D;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.nav-element{
  width: 25vw;
  padding: 5vw;
}

.show{
  display: flex;
  position: absolute;
  left: -24vw;
}
